In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 20
You are eligible to vote

In [ ]:
marks=int(input("entre your marks"))
if marks>=40:
  print("Pass")
else:
  Print("fail")

entre your marks40
Pass

In [ ]:

for i in range(1,6):
  marks=int(input("enter your marks"))
  if marks>=40:
    print ("pass")
  else:
    print("fail")
print("-------end----------")

enter your marks30
fail
enter your marks45
pass
enter your marks35
fail
enter your marks45
pass
enter your marks25
fail
-------end----------

In [ ]:
num=int(input("enter num"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

enter num5
odd

In [ ]:
num= int(input("enter num"))
if num % 5 == 0 and num % 10 == 0:
  print("num is divisible by both")
else:
  print("num is not divisible by both")

enter num56
num is not divisible by both

In [ ]:
a=input("enter character:")
if a in 'aeiou':
  print("vowel")
else:
  print("consonant")

enter character:e
vowel

In [ ]:
year= int(input("enter year"))
if year % 4 == 0:
  print("leap year")
else:
  print("not a leap year")

enter year2023
this is not leap year

In [ ]:
units = float(input("Enter units consumed: "))
bill = units * 7


print(bill)

Enter units consumed: 56.39
394.73

In [ ]:
salary = int(input("enter your salary"))
if salary >=50000:
  bonus=salary+28000
else:
  bonus=salary+15000
print("bonus:",bonus )

enter your salary44000
bonus: 59000

In [ ]:
for i in range(1,51):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
total=sum(range(1,11))
print(total)

55

In [ ]:
num=int(input("enter num:"))
for i in range(1,11):
  print(num*i)

enter num:2
2
4
6
8
10
12
14
16
18
20

In [ ]:
num= input("enter num:")
print("lenght of given digit:",len(num))

enter num:6465834675
lenght of given digit: 10

In [ ]:
for i in range(1,101):
  if i % 2 == 0:
    print(i,"Even")
  else:
    print(i,"odd")

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd
10 Even
11 odd
12 Even
13 odd
14 Even
15 odd
16 Even
17 odd
18 Even
19 odd
20 Even
21 odd
22 Even
23 odd
24 Even
25 odd
26 Even
27 odd
28 Even
29 odd
30 Even
31 odd
32 Even
33 odd
34 Even
35 odd
36 Even
37 odd
38 Even
39 odd
40 Even
41 odd
42 Even
43 odd
44 Even
45 odd
46 Even
47 odd
48 Even
49 odd
50 Even
51 odd
52 Even
53 odd
54 Even
55 odd
56 Even
57 odd
58 Even
59 odd
60 Even
61 odd
62 Even
63 odd
64 Even
65 odd
66 Even
67 odd
68 Even
69 odd
70 Even
71 odd
72 Even
73 odd
74 Even
75 odd
76 Even
77 odd
78 Even
79 odd
80 Even
81 odd
82 Even
83 odd
84 Even
85 odd
86 Even
87 odd
88 Even
89 odd
90 Even
91 odd
92 Even
93 odd
94 Even
95 odd
96 Even
97 odd
98 Even
99 odd
100 Even

In [ ]:
for i in range(1,50):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [ ]:
total=0
for i in range(5):
  marks=int(input("enter marks"))
  total+=marks
average=total/5
print (average)

enter marks40
enter marks56
enter marks34
enter marks45
enter marks56
46.2

In [ ]:
for i in range(5):
  num=int(input("enter num"))
  if num >0:
    print("positive")
  else:
    print("negative")

enter num-4
negative
enter num5
positive
enter num-5
negative
enter num5
positive
enter num67
positive

In [ ]:
salary=int(input("enter your salary "))
if salary>50000:
  bonus=salary*0.1
else:
  bonus= salary*0.05
print(bonus)

enter your salary 30000
1500.0

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num =input("enter num")
print(len(num))

enter num654578783
9