In [ ]:
#1. Write a program to store 5 student marks in a list and display them.
marks=[]
for i in range(5):
  mark= int(input("enter your marks"))
  marks.append(mark)
print(marks)

enter your marks10
enter your marks29
enter your marks67
enter your marks45
enter your marks546
[10, 29, 67, 45, 546]

In [ ]:
#2. Write a program to find the largest number in a list.
a=[]
for i in range(5):
  num=int(input("enter the num"))
  a.append(num)
print(a,max(a))

enter the num39
enter the num56
enter the num74
enter the num45
enter the num79
[39, 56, 74, 45, 79] 79

In [ ]:
#3. Write a program to count how many times a particular element appears in a list.
a= [22,33,22,45,95,33]
print(a.count(22))

2

In [ ]:
#4. Write a program to add a new element to a list and remove an existing element.
a=[12,23,45,56]
a.append(36)
a.remove(23)
print(a)

[12, 45, 56, 36]

In [ ]:
#5. Write a program to calculate the sum of all elements in a list.
a=[1,2,4,6,7]
print(sum(a))

20

In [ ]:
#6. Write a program to create a tuple of 5 numbers and display the second element.
a=[]
for i in range(5):
  num=int(input("enter num"))
  a.append(num)
print(a[1])

enter num3
enter num5
enter num6
enter num7
enter num8
5

In [ ]:
#7. Write a program to check whether an element exists in a tuple.
a=[2,4,5,7,8,9]
print(9 in (a))

True

In [ ]:
#list
#*list is the collection of orderd and mutable elements that allow duplicate values eg. marks of students stored in list
marks = [20,30,45,60]
print(marks)

[20, 30, 45, 60]

In [ ]:
#8. Write a program to convert a tuple into a list.
a=(1,3,4,6,7)
lst=list(a)
print(lst)

[1, 3, 4, 6, 7]

In [ ]:
#9. Write a program to find the length of a tuple.
a=(1,2,3,5,7)
print(len(a))

5

In [ ]:
#10. Write a program to explain why tuple is immutable with an example.
a= (1,2,3,4,5,6,7)
a[3]=4
print(a)
print("tuples are immutable in nature")

TypeError: 'tuple' object does not support item assignment

In [ ]:
#11. Write a program to store student details using a dictionary and display them.
student = {
    "name":"Nikita",
    "age":21,
    "course":"python"
}
print(student)

{'name': 'Nikita', 'age': 21, 'course': 'python'}

In [ ]:
#12. Write a program to add a new key-value pair in a dictionary.
student = {
    "name": "Nikita",
    "marks": 85
    }
student["age"] = 20
print(student)

{'name': 'Nikita', 'marks': 85, 'age': 20}

In [ ]:
#13. Write a program to update the value of an existing key in a dictionary.
student={
    "name":"Nikita",
    "age":20
    }
student["name"]="Nisha"
print(student)

{'name': 'Nisha', 'age': 20}

In [ ]:
#14. Write a program to check whether a key exists in a dictionary.
student={
    "name":"Nikita",
    "age":20
    }
print( "name" in (student))

True

In [ ]:
#15. Write a program to print all keys and values of a dictionary.
student_info={
    "Name":"Nikita",
    "age":20,
    "course":"python"
}
print(student_info.keys())
print(student_info.values())

dict_keys(['Name', 'age', 'course'])
dict_values(['Nikita', 20, 'python'])

In [ ]:
#16. Write a program to create a set with duplicate values and display the output.
a={1,1,2,2,3,3,4,4,5,5,6,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
#17. Write a program to add a new element to a set.
a={1,2,4,5,6,7,8}
a.add(20)
print(a)

{1, 2, 4, 5, 6, 7, 8, 20}

In [ ]:
#18. Write a program to remove an element from a set.
a={1,2,3,4,5,6,7,9}
a.remove(3)
print(a)

{1, 2, 4, 5, 6, 7, 9}

In [ ]:
#19. Write a program to find the union of two sets.
a={2,4,6,7,7,56,54,3,5}
b={5,3,5,6,4,6,3,4}
print(a.union(b))

{2, 3, 4, 5, 6, 7, 54, 56}

In [ ]:
#20. Write a program to find the intersection of two sets.
a={2,4,6,7,7,56,54,3,5}
b={5,3,5,6,4,6,3,4}
print(a.intersection(b))

{3, 4, 5, 6}

In [ ]:
marks[1]= 66
print(marks)

[20, 66, 45, 60]

In [ ]:
#tuple
#A tuple is  a collection of ordered  and immutable elements that allow duplicate
days=("mon","tue","wed")
print(days)

('mon', 'tue', 'wed')

In [ ]:
print(days[0])

mon

In [ ]:
days[1]="fri"
print(days)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Dictionary
# A dictionary i sthe collection of key-value pair where each key is unique and used to acces it corresponding value
student = {
    "name":"Nikita",
    "age":21,
    "course":"python"
}
print(student["name"])

Nikita

In [ ]:
print(student["name"])

Nikita

In [ ]:
student["age"]=20
student["city"]="pune"
print(student)

{'name': 'Nikita', 'age': 20, 'course': 'python', 'city': 'pune'}

In [ ]:
#SET
# a set is an unorderd elements that does no tallow duplicates value
num={1,2,3,4,5,6,7,8}
print(num)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
num.add(10)
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
student_name= "nikita"
mark_list= [70,80,67]
unique_sub={"english","Hindi","Marathi"}

student_info={
    "name":student_name,
    "Marks":mark_list,
    "subject":unique_sub
}
print(student_info)

{'name': 'nikita', 'Marks': [70, 80, 67], 'subject': {'Marathi', 'english', 'Hindi'}}